*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-color: transparent transparent;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: repeating-linear-gradient(
      50deg,
      #ff6b6b,
      #ff6b6b 1em,
      #ffb86c 1em,
      #ffb86c 2em,
      #ffd166 2em,
      #ffd166 3em,
      #06d6a0 3em,
      #06d6a0 4em,
      #118ab2 4em,
      #118ab2 5em,
      #073b4c 5em,
      #073b4c 6em
    ),
    repeating-linear-gradient(
      -50deg,
      #ff6b6b,
      #ff6b6b 1em,
      #ffb86c 1em,
      #ffb86c 2em,
      #ffd166 2em,
      #ffd166 3em,
      #06d6a0 3em,
      #06d6a0 4em,
      #118ab2 4em,
      #118ab2 5em,
      #073b4c 5em,
      #073b4c 6em
    );

  background-blend-mode: multiply;
}

